* {
    box-sizing: border-box;
}

/*colours */
:root {
    --darkest-brown: rgba(98,87,87,1); 
    --lightest-brown: rgba(157,143,143,1); 
    --darkest-grey: rgba(188,186,184,1); 
    --mid-grey: rgba(230,230,230,1); 
    --lightest-grey: rgba(249,249,249,1); 

    --lightest-black: rgba(50,50,50,1);
    --almost-black: rgba(35,35,35,1);    
    --grey-text: rgba(141,141,141,1);
    --white: rgba(255,255,255,1);

    /*    to call 
    background-color: var(--darkest-brown); */
}



a {
    color: #000;
}

/* header */

.header {    
    box-shadow: 1px 1px 4px 0 rgba(0,0,0, 0.1);
    position: fixed;
    width: 100%;
    z-index: 3;
    background-color: rgba(0,0,0,0.4);
    border-bottom: 1px solid white;    
    z-index: 12;
}

.header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    text-align: center;
    background-color: rgba(255,255,255,0.0);

}

.header li a {
    display: block;
    padding: 20px 20px;

    text-decoration: none; 
    color: white;
}

.header li a:hover,
.header .menu-btn:hover {
    background-color: rgba(0,0,0,0.3);
}

.header .logo {
    display: block;
    float: left;
    font-size: 1.50em;
    padding: 15px 20px;
    text-decoration: none;
    color: white;
}

/* menu */

.header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
    z-index: 12;
}

/* menu icon */

.header .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
}

.header .menu-icon .navicon {
    background: #ffff;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
    background: #ffff;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.header .menu-icon .navicon:before {
    top: 5px;
}

.header .menu-icon .navicon:after {
    top: -5px;
}

/* menu btn */

.header .menu-btn {
    display: none;
}

.header .menu-btn:checked ~ .menu {
    max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
}

#home-cont {
    height: -4500px;
    background-color: black;
}

.homepage-container {

}

h1 {
    font-size: 2.5rem;
    font-weight: 600;
    margin: 0px 0px 10px;
}

h2 {
    font-size: 2rem;
    font-weight: 600;
    margin: 0px 0px 0px;
}

h3 {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0px;
    margin: 0px 0px 10px;
}

h4 {
    font-size: 1.0rem;
    font-weight: 600;
    margin: 0px;
    margin: 5px 0px 5px;
}

p {
    font-size: 1.0rem;
    margin: 0px;
    line-height: 1.58;
}
body {
    font-family: 'Libre Franklin', sans-serif;
    padding: 0px;
    margin: 0px;
    /*    height: -2400px; */
}

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}

.jumbotron {
    height: 300px;
    background-color: blanchedalmond;
}

.jumbotron--homepage {
    height: 300px;
    background-color: blanchedalmond;
    z-index: 1;
    position: relative;

    background-color: rgba(255,255,255,0.0);
    color: white;
}

.jumbotron__textcontainer {
    position: relative;
    top: 50%;
    transform: translateY(-50%); 
}

.jumbotron__title {
    text-align: center;
}

.jumbotron__text {
    display: none;
}

/*weapons of war mobile*/
.card {    
    height: 590px;
    margin: 10px;

    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2);
}

.card__image-holder {
    height: 250px;
}

.card__image {
    width: 100%;
    height: 250px;
    object-fit: cover; 
    border-radius: 5px 5px 0px 0px;
}

.card__text-holder {
    padding: 20px;
}

.card__title {

}

.card__text {
    height: 140px;
    /*    overflow: scroll;*/
}

.card__button-holder {
    text-align: center;
    position: relative;
    bottom: -70px;
}

.card__button {
    background-color: rgba(255,255,255,0.0);
    border: solid 1px black;
    border-radius: 5px;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-weight: 600;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer; 
}

.button {        
    background-color: rgba(255,255,255,0.0);
    border: solid 1px white;
    border-radius: 5px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-weight: 600;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;        
}

.button:hover {  
    background-color: rgba(0,0,0,0.2);
}


.parallax { 
    /* The image used */
    background-image: url("images/Chateauwood.jpg");

    /* Set a specific height */
    min-height: 2100px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;        
}


/*home page mobile*/
.banner {
    position: relative;

    height: 60px;
    background-color: #9D8F8F;    
}

.banner h3 {
    position: relative;

    top: 50%;
    transform: translateY(-50%);
    text-align: center;   
    color: white;
}

.slide {
    position: relative;

    height: auto;
    background-color: white;
    z-index: 10;
}

.slide__title h3 {    
    text-align: center;  
}

.slide__text {    
    text-align: left;  
    padding: 10px;
}

.banner-bottom {
    position: relative;

    height: 60px;
    background-color: #9D8F8F;    
    color: white;
}

.banner-bottom h3 {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;   
}

.static-slide {
    position: relative;

    height: auto;
    background-color: white;
}

.static-slide__text {    
    text-align: left;  
    padding: 30px;    
}

.banner-bottom-left-image {
    width: 100%;
    height: 660px;            
    object-fit: cover;      
    display: none;
}


.link-card {
    position: relative;

    height: 300px;
    background-color: rgba(0,0,0,0.4);
    z-index: 10;
    margin-bottom: 0px;
    margin-top: 0px;
    color: white;
}

.link-card h3 {

}

.link-card__title {
    padding-top: 60px;
    text-align: center;
}

.link-card__text {
    padding-top: 15px;
    width: 300px;
    margin: auto;
    text-align: center;
}

.link-card .button {   
    position: relative;
    bottom: -20px;
    margin: auto;
    display: flex;
    justify-content: center;
}


/*slider home page mobile */

.flex-container {   
    display: flex;
    flex-direction: column;
    align-items: stretch;               
    height: auto;
    width: 95%;
    margin: auto;
}

.flex-container > div {
    background-color: #9D8F8F;
    color: black;                
    margin: 10px auto 0px auto;
    text-align: center;
    width: 95%;
}

.nested-flex {
    display: flex;
    flex-grow: 1;
    background-color: blue;
}

.flexbox-1 {
    width: 350px;
    flex-grow: 1;
    flex-shrink: 1;  

}

.flexbox-2 {
    width: 50%; 
    border-right: solid 1px #BCBAB8;  
}

.item1 {
    background-color: #9D8F8F;
    border-right: solid 1px #BCBAB8;
    height: 100%;
    width: 50%;
    float: left;
    color: black;
    border-radius: 5px 0px 0px 5px;
}

.item2 {
    background-color: #9D8F8F;
    height: 100%;
    width: 50%;
    float: left;
    color: black;
    border-radius: 0px 5px 5px 0px;
}

.text-holder {                
    margin: 5px auto;
    width: 170px;
    height: auto;

    background-color: #BCBAB8;
    border-radius: 5px;
    transition: 1000ms linear;
}                

.text-holder__text { 
    /*                font-size: calc(7px + 0.8vw);  */
    font-size: 16px;
    position: relative;
    top: 0px;
    border-radius: 5px;
    color: black;
}

.text-holder__img { 
    position: relative;
    width: 25px;
    left: -10px;
    top: 2px;
    float: right;
}




/*  SLIDER */
.slideHolder {
    background-color: rgba(0,0,0, 0.8);    
    width: 100%;
    height: 1200px;
    position: relative;

    z-index: 0;
    padding-bottom: 20px;
}


.slidecontainer { 
    width: 90%;                
    margin: auto;
    padding-top: 40px;   
    color: white;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    border-radius: 5px;
    background: #BCBAB8;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #FFFF;
    border: solid 1px #BCBAB8;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

[class*="col-"] {
    width: 100%;
}

.y1914 {
    display: block;                    
}

.y1915 {
    display: none;
    background-color: #d7b8a0;
}

.y1916 {
    display: none;
    background-color: #bfa48e;
}

.y1917 {
    display: none;
    background-color: #a78f7c;
}     

.y1918 {
    display: none;
    background-color: #8f7b6a;
}  

.colorBoxYear {
    height: 20px;
    width: 20px; 
    margin: 0px 5px 0px 5px;
}

.boxColor1  {
    background-color: #BCBAB8;                                    
}

.boxColor2  {
    background-color: #d7b8a0;                                    
}

.boxColor3 {
    background-color: #bfa48e;                                    
}

.boxColor4  {
    background-color: #a78f7c;                                    
}

.boxColor5  {
    background-color: #8f7b6a;                                    
}

.center {
    width: 100%;
    height: 30px;                    
    display: inline-block;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-footer {
    height: 200px;
    width: 100%;
    background-color: black;
    position: relative;

}








/*Slide Stuff mobile*/
.mySlides {display: none}


/* Slideshow container */
.slideshow-container {    
    max-width: 100%;
    width: 100%;
    height: 430px; /*Reomove for dynamic height*/
    position: relative;
    margin: auto;   
    padding: 30px;  
    z-index: 10;
}

.mySlides__title {

}

.mySlides__text {
    text-align: left;  

}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    background-color: rgba(157,143,143,0.4);
}

/* Position the "next button" to the left */
.prev {
    left: -15px;
    border-radius: 3px 0 0 3px;
}


/* Position the "next button" to the right */
.next {
    right: -15px;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(98,87,87,0.8);
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
    z-index: -3;
}


/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #BCBAB8;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    z-index: 11;
}

.active, .dot:hover {
    background-color: #9D8F8F;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

#numberAniContainer {                
    position: relative;                 
    top: -241px;
    right: -50px;
    float: right;  
    z-index: 1;
    color: rgba(157,143,143,0.3);
}

#currentNumberAni {  
    position: absolute;
    right: 50px;
    font-size: 250px;
    z-index: -1;
}

#incomingNumberAni {     
    position: absolute;
    right: -20px;
    font-size: 250px;
    display: none;
    z-index: -1;
}


/*infantrt Wepons Page mobile*/
.weaponsofwar-page-container {   
    margin: auto;
    padding: 5px;

}

.weaponsofwar-heading-container{    
    max-width: 800px;
    margin: 50px auto 30px;
    text-align: center;       
}

.weaponsofwar-heading-container__text { 
    color: var(--lightest-black);
}

.weapon-card--tank {
    margin: auto;
    height: 370px;
    min-width: 425px;
    max-width: 425px;
    width: 100%;
    border-radius: 5px;
    background-color: var(--white);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.11);
}


.weapon-card {
    margin: auto;
    height: 300px;
    min-width: 425px;
    max-width: 425px;
    width: 100%;
    border-radius: 5px;
    background-color: var(--white);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.11);
}

.weapon-card__top {
    height: 150px;
    width: 100%;
    border-radius: 5px 5px 0px 0px;
    background-color: var(--mid-grey);
    position:relative;
}

.weapon-card__image-container {
    height: 100%;
    width: 420px;   
}

.weapon-card__image-container--full {
    height: 100%;

    width: 100%;   
}

.weapon-card-image {
    padding: 20px 20px 20px 40px;
    height: 100%; 
    max-width: 420px;
    object-fit: contain;    
    border-radius: 5px 5px 0px 0px;
}

.weapon-card-image--full {
    padding: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    z-index: 0;
    border-radius: 5px 5px 0px 0px;
}

.weapon-card__top_text {
    position:absolute;
    bottom:0;
    right:0;  
    padding-right: 10px;
    z-index: 2;
}

.image-cover {
    height: 100%;
    width: 100%;
    position: relative;
    top: -150px;
    z-index: 1;

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,ffffff+100&0+0,0+52,1+100 */
    background: -moz-linear-gradient(top, rgba(30,87,153,0) 0%, rgba(147,174,206,0) 52%, rgba(240,240,240,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(30,87,153,0) 0%,rgba(147,174,206,0) 52%,rgba(240,240,240,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(30,87,153,0) 0%,rgba(147,174,206,0) 52%,rgba(240,240,240,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001e5799', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

.weapon-card__top_text h2 {
    margin: 0px;
    padding: 0px;
    font-size: 40px;
    font-weight: 700;
    color: var(--lightest-black);
}

.weapon-card__bottom {
    padding: 10px;
}

.weapon-card__bottom__top-row {
    text-align: center;
}

.weapon-card__text-container {
    margin: 0px;
    padding: 4px;    
    width: 200px;
    display:inline-block;
    margin: 10px 0px 10px 0px;
    text-align: left;
}

.weapon-card__text-container-top {
    margin: 0px 0px 0px 35px;
    padding: 0px;
    color: var(--grey-text);
    font-weight: 500;
    line-height: 1.25;
}

.weapon-card__text-container-bottom {    
    margin: 0px 0px 0px 35px;
    padding: 0px; 
    color: var(--almost-black);
    font-weight: 500;   
    line-height: 1.25;
}

.weapon-card__tankweapon {
    height: 70px;   
    background-color: var(--mid-grey);
    border-radius: 0px 0px 5px 5px;
    margin: 10px -10px -10px -10px;
}

.weapon-card__text-container--tank {
    margin: 0px;
    padding: 4px;    
    width: 90px;
    display:inline-block;
    margin: 10px 0px 10px 0px;
    text-align: right;
    display: inline-block;
}

.weapon-card__text-container-top--tank {
    margin: 0px 0px 0px 0px;
    padding: 0px;
    color: var(--grey-text);
    font-weight: 500;
    line-height: 1.25;
}

.weapon-card__text-container-bottom--tank {    
    margin: 0px 0px 0px 0px;
    padding: 0px;
    color: var(--grey-text);
    font-weight: 500;
    line-height: 1.25;
}

.weapon-card__text-container--tank-right {    
    margin: 0px;
    padding: 4px;    
    width: 330px;
    display:inline-block;
    margin: 10px 0px 10px 0px;
    text-align: left;
    display: inline-block;
    z-index: 5;
}

.weapon-card__text-container-top--tank-right {
    margin: 0px 0px 0px 0px;
    padding: 0px;
    color: var(--almost-black);
    font-weight: 500;
    line-height: 1.25;

}

.weapon-card__text-container-bottom--tank-right {
    margin: 0px 0px 0px 0px;
    padding: 0px;
    color: var(--almost-black);
    font-weight: 500;
    line-height: 1.25;
}


.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-gap: 30px;
}

.cards {
    max-width: 960px;
    margin: 0 auto 30px;
}

article {
    position: relative;
}





@media only screen and (min-width: 685px) {

    /*    For tablet: */
    .col-t-1 {width: 8.33%;}
    .col-t-2 {width: 16.66%;}
    .col-t-3 {width: 25%;}
    .col-t-4 {width: 33.33%;}
    .col-t-5 {width: 41.66%;}
    .col-t-6 {width: calc(50% - 20px);}
    .col-t-7 {width: 58.33%;}
    .col-t-8 {width: 66.66%;}
    .col-t-9 {width: 75%;}
    .col-t-10 {width: 83.33%;}
    .col-t-11 {width: 91.66%;}
    .col-t-12 {width: 100%;}

    .section-split a {
        width: 50%;
    }

    .jumbotron {
        height: 300px;
        background-color: darkgreen;
    }

    [class*="col-t"] {
        float: left;        
    }

    .row::after {
        content: "";
        clear: both;
        display: table;
    }

}

@media only screen and (min-width: 1000px) {

    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}


    /*    nav*/
    .header li {
        float: left;
    }
    .header li a {
        padding: 20px 30px;
    }
    .header .menu {
        clear: none;
        float: right;
        max-height: none;
    }
    .header .menu-icon {
        display: none;
    }





    .jumbotron {
        height: 300px;                   
    }

    .jumbotron--homepage {
        height: 300px;        
        z-index: 1;
        position: relative;

        background-color: rgba(255,255,255,0.0);
        color: white;
    }

    .jumbotron__textcontainer {
        line-height: 7;
    }

    .jumbotron__title {
        text-align: center;
    }

    .jumbotron__text {
        display: none;
    }

    /*    weapons of war desktop*/
    .card {

        background-color: white;
        height: 330px;
        margin: 30px auto;
        padding: 0px;
        width: 70%;
        min-width: 900px;
        max-width: 1000px;
        border-radius: 5px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.11);
    }

    .card__image-holder {
        height: 100%;
        width: 350px;
        background-color: aqua;
        float: left;
        border-radius: 5px;
    }

    .card__image {
        width: 100%;
        height: 100%;
        object-fit: f;
        border-radius: 5px 0px 0px 5px;
    }

    .card__text-holder {
        margin-left: 350px;        
        padding: 30px;            
    }

    .card__title {
        padding-top: 40px;
    }

    .card__text {
        height: 135px;        
    }

    .card__button-holder {
        text-align: center;
        position: relative;
        bottom: -20px;
    }

    /*home page desktop*/
    .parallax { 
        background-image: url("images/Chateauwood.jpg");
        min-height: 1920px; 
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;        
    }

    .banner {
        position: relative;
        height: 660px;
        width: 60%;        
        border-top-right-radius: 100px;
        border-bottom-right-radius: 0px;

        background: #625757; /* Old browsers */
        background: -moz-linear-gradient(left, #625757 0%, #9d8f8f 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(left, #625757 0%,#9d8f8f 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right, #625757 0%,#9d8f8f 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#625757', endColorstr='#9d8f8f',GradientType=1 ); /* IE6-9 */  
    }

    .banner h3 {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        text-align: center;
        right: 100px;
        color: white;

    }

    .slide {
        position: absolute;
        top: 390px;
        right: calc(40% - 300px);
        height: 480px;
        width: 500px;
        background-color: white;
        border-radius: 2px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.11);
        z-index: 10;
    }

    .slide__title h3 {    
        text-align: center;  
    }

    .slide__text {    
        text-align: left;  
        padding: 20px 30px 30px 30px;
    }

    .banner-bottom {
        position: relative;
        height: 660px;
        width: 60%;
        float: right;


        background: #9d8f8f; /* Old browsers */
        background: -moz-linear-gradient(left, #9d8f8f 0%, #625757 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(left, #9d8f8f 0%,#625757 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right, #9d8f8f 0%,#625757 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9d8f8f', endColorstr='#625757',GradientType=1 ); /* IE6-9 */
    }

    .clearFloat {
        clear: both;
    }


    .banner-bottom h3 {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        text-align: right;
        right: calc(30% - 180px);
        color: white;

    }

    .static-slide {
        position: absolute;
        top: 1050px;
        left: calc(40% - 300px);
        height: 480px;
        width: 500px;
        background-color: white;
        border-radius: 2px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.11);
        z-index: 10;
    }

    .static-slide__text {    
        text-align: left;  
        padding: 30px;
    }

    .banner-bottom--left {
        position: relative;

        width: 40%;
        background-color: aqua;
        height: 660px;
        z-index: 1;
    }

    .banner-bottom-left-image {
        width: 100%;
        height: 660px;            
        object-fit: cover;      
        display: block;
    }

    .spec-co-4 {
        float: left;
        width: 33.33%;
    }

    .link-cards-section {
        width: 100%;     
        background-color: rgba(0, 0, 0, 0.4);
        position: relative;

        display: block;
    }

    .link-cards-background {
        display: block;
        height: 300px;
        z-index: 1;
        width: 90%;
        min-width: 70%;
        margin: auto;
    }

    .link-card {
        position: relative;        
        height: 300px;

        background-color: rgba(0,0,0,0.0);        
        color: white;
        z-index: 15; 

    }

    .link-card h3 {

    }

    .link-card__title {
        padding-top: 60px;
        text-align: center;
    }

    .link-card__text {
        padding-top: 0px;
        width: 300px;
        margin: auto;
        text-align: center;
    }

    .link-card .button {   
        position: relative;
        bottom: -20px;
        margin: auto;
        display: flex;
        justify-content: center;
    }


    [class*="col-"] {
        float: none;        
        padding: 0px;
    }

    .row::after {
        content: "";
        clear: both;
        display: table;
    }    


    /* slider on home page desktop */
    .flex-container {       
        display: flex;
        flex-direction: row;
        align-items: stretch;                    
        height: auto;
        width: 70%;      
        margin: auto;
        border-radius: 5px;
    }

    .flex-container > div {
        background-color: #9D8F8F;
        color: black;               
        margin: 0px 5px 0px 5px;
        text-align: center;    
        border-radius: 5px;
    }

    .nested-flex {
        display: flex;
        flex-grow: 1;
    }

    .flexbox-1 {
        width: 350px;
        flex-grow: 1;
        flex-shrink: 1;
        border-radius: 5px;
    }

    .flexbox-2 {
        width: 150px;
        flex-grow: 1;  
        border-radius: 0px 5px 5px 0px;
    }

    .item1 {
        background-color: #9D8F8F;
        border-right: solid 1px #BCBAB8;
        height: 100%;
        width: 50%;
        float: left;
        color: black;
        border-radius: 5px 0px 0px 5px;
    }

    .item2 {
        background-color: #9D8F8F;
        height: 100%;
        width: 50%;
        float: left;
        color: black;
        border-radius: 0px 5px 5px 0px;
    }

    .text-holder {
        margin: 5px auto;       
        height: auto;
        background-color: #BCBAB8;
        border-radius: 5px;
        transition: 1000ms linear;
    }                

    .text-holder__text {    
        position: relative;
        top: 0px;
    }

    .text-holder__img { 
        position: relative;
        width: 25px;
        left: -10px;
        top: 3px;
        float: right;
    }

    /*  SLIDER */

    .slideHolder {        
        height: calc(50% - 10px);
    }

    .slidecontainer {     
        width: 70%;                
        margin: auto;   
    }

    .slider {
        -webkit-appearance: none;
        width: 100%;
        height: 10px;
        border-radius: 5px;
        background: #BCBAB8;
        outline: none;
        opacity: 0.7;
    }

    .slider:hover {
        opacity: 1;
    }

    .slider::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background: #FFFF;
        border: solid 1px #BCBAB8;
        cursor: pointer;
    }

    .slider::-moz-range-thumb {
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background: #4CAF50;
        cursor: pointer;
    }

    .y1914 {
        display: block;                    
    }

    .y1915 {
        display: none;
        background-color: #d7b8a0;
    }

    .y1916 {
        display: none;
        background-color: #bfa48e;
    }

    .y1917 {
        display: none;
        background-color: #a78f7c;
    }     

    .y1918 {
        display: none;
        background-color: #8f7b6a;
    }  

    .colorBoxYear {
        height: 20px;
        width: 20px; 
        margin: 0px 5px 0px 5px;

    }

    .boxColor1  {
        background-color: #BCBAB8;                                    
    }

    .boxColor2  {
        background-color: #d7b8a0;                                    
    }

    .boxColor3 {
        background-color: #bfa48e;                                    
    }

    .boxColor4  {
        background-color: #a78f7c;                                    
    }

    .boxColor5  {
        background-color: #8f7b6a;                                    
    }

    .center {
        width: 100%;
        height: 30px;                    
        display: inline-block;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .home-footer {
        height: 200px;
        width: 100%;
        background-color: black;
        position: relative;

    }

    /*Slide Stuff*/
    .mySlides {display: none}


    /* Slideshow container */
    .slideshow-container {    
        max-width: 500px;
        width: 700px;
        height: 430px; /*Reomove for dynamic height*/
        position: relative;
        margin: auto;   
        padding: 30px;  
        z-index: 10;
    }

    .mySlides__title {

    }

    .mySlides__text {
        text-align: left;  

    }

    /* Next & previous buttons */
    .prev, .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        padding: 16px;
        margin-top: -22px;
        color: white;
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
        background-color: rgba(157,143,143,0.4); 
    }

    /* Position the "next button" to the left */
    .prev {
        left: -30px;
        border-radius: 3px 0 0 3px;
    }


    /* Position the "next button" to the right */
    .next {
        right: -30px;
        border-radius: 3px 0 0 3px;
    }

    /* On hover, add a black background color with a little bit see-through */
    .prev:hover, .next:hover {
        background-color: rgba(98,87,87,0.8);
    }

    /* Caption text */
    .text {
        color: #f2f2f2;
        font-size: 15px;
        padding: 8px 12px;
        position: absolute;
        bottom: 8px;
        width: 100%;
        text-align: center;
        z-index: -3;
    }


    /* Number text (1/3 etc) */
    .numbertext {
        color: #f2f2f2;
        font-size: 12px;
        padding: 8px 12px;
        position: absolute;
        top: 0;
    }

    /* The dots/bullets/indicators */
    .dot {
        cursor: pointer;
        height: 15px;
        width: 15px;
        margin: 0 2px;
        background-color: #BCBAB8;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
        z-index: 11;
    }

    .active, .dot:hover {
        background-color: #9D8F8F;
    }

    /* Fading animation */
    .fade {
        -webkit-animation-name: fade;
        -webkit-animation-duration: 1.5s;
        animation-name: fade;
        animation-duration: 1.5s;
    }

    #numberAniContainer {                
        position: relative;                 
        top: -141px;
        right: -140px;
        float: right;  
        z-index: 1;
        color: rgba(157,143,143,0.7);
    }

    #currentNumberAni {  
        position: absolute;
        right: 50px;
        font-size: 250px;
        z-index: -1;
    }

    #incomingNumberAni {     
        position: absolute;
        right: -20px;
        font-size: 250px;
        display: none;
        z-index: -1;
    }

    /*    Weapons page*/
    .cards {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
        grid-gap: 30px;
    }

    .cards {
        max-width: 1400px;
        margin: 0 auto 30px;
    }


}


@-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

@media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
}
