<body>   
    <head>

        <meta charset="UTF-8">
        <title>JSON Tester</title>

    </head>
    <div id="cont"></div>


</body>

<script>
// auto set browser to top of page
$('html,body').scrollTop(0);

// load wepons json
contentLoader.loadJson('weaponsofwar.json', function(err, jsonData) {
    if (err) { throw err; }    


    var jumboData = jsonData['jumboTitle'];
    var cardData = jsonData['cards'];    

    console.log('Data Guns',jsonData['jumboTitle']);
    console.log(cardData[1].title);
    // And then create our markup: Load json here this should be your json file
    // loop this to catch all
    // store json in a thing like person
    //https://wesbos.com/template-strings-html/   <<shows loops


    const markup = `
<div class="jumbotron">              
<div class="jumbotron__textcontainer">
<div class="jumbotron__title">
<h1>${jsonData['jumboTitle']}</h1>
    </div>

<div class="jumbotron__text">
<p>${jsonData['jumboBody']}</p>
    </div>
    </div>

    </div>

<div class="weaponsofwar-page-container">

<section class="weaponsofwar-heading-container">
<h2>Pistol</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas efficitur massa velit, cursus vehicula odio sodales sit amet. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Ut lacinia felis et erat vulputate congue.
    </p>
    </section>


<section class="cards">
<article>
<div class="weapon-card">
<div class="weapon-card__top">
<div class="weapon-card__image-container">
<img class="weapon-card-image" align="left" src="images/mauser.png">
    </div>
<div class="weapon-card__top_text">
<h2>Mauser C96</h2>
    </div>
    </div>   

<div class="weapon-card__bottom">
<div class="weapon-card__bottom__top-row">
<div class="weapon-card__text-container">
<p class="weapon-card__text-container-top">Fire Rate</p>
<p class="weapon-card__text-container-bottom">20 RPM</p>
    </div>
<div class="weapon-card__text-container">
<p class="weapon-card__text-container-top">Produced</p>
<p class="weapon-card__text-container-bottom">1896</p>
    </div>                
    </div>
<div class="weapon-card__bottom__top-row">
<div class="weapon-card__text-container">
<p class="weapon-card__text-container-top">Effective Range</p>
<p class="weapon-card__text-container-bottom">150-200 m</p>
    </div>
<div class="weapon-card__text-container">
<p class="weapon-card__text-container-top">Designer</p>
<p class="weapon-card__text-container-bottom">Feederie Brothers</p>
    </div>                
    </div>
<div class="weapon-card__bottom_text-top">

    </div>
    </div>
    </div>     
    </article>

    </section>
    


    </div>                  

`;

    document.getElementById('cont').innerHTML = markup;

});

</script>

<!--So in here you would load your json data in and pass it into the template above and then call this and that would load your page-->

<!--load json by calling the functions-->


