<body>   
    <head>

        <meta charset="UTF-8">
        <title>JSON Tester</title>

    </head>
    <div id="cont"></div>


</body>

<script>
    // auto set browser to top of page
    $('html,body').scrollTop(0);

    // load wepons json
    contentLoader.loadJson('landvehicles.json', function(err, jsonData) {
        if (err) { throw err; }    

        var jumboData = jsonData['jumboTitle'];
        var cardData = jsonData['pistols'];    

        console.log('Data Guns',jsonData['homeTown']);
        //console.log(cardData[1].name);


        var tanks = jsonData['tanks']; 


        const markup = `
<div class="jumbotron">              
<div class="jumbotron__textcontainer">
<div class="jumbotron__title">
<h1>${jsonData['jumboTitle']}</h1>
    </div>

<div class="jumbotron__text">
<p>${jsonData['jumboBody']}</p>
    </div>
    </div>

    </div>

<div class="weaponsofwar-page-container">

<section class="weaponsofwar-heading-container">
<h2>${jsonData.tankTitle}</h2>
<p>${jsonData.tankBody}</p>
    </section>


<section class="cards">

${tanks.map(Data =>
`

<article>
<div class="weapon-card--tank">
<div class="weapon-card__top">

<div class="weapon-card__image-container--full">
<img class="weapon-card-image--full" src="${Data.image}">
    </div>
<div class="weapon-card__top_text">
<h2>${Data.name}</h2>
    </div>
<div class="image-cover"></div>
    </div>   

<div class="weapon-card__bottom">
<div class="weapon-card__bottom__top-row">
<div class="weapon-card__text-container">
<p class="weapon-card__text-container-top">Introduction</p>
<p class="weapon-card__text-container-bottom">${Data.introduction}</p>
    </div>
<div class="weapon-card__text-container">
<p class="weapon-card__text-container-top">Range</p>
<p class="weapon-card__text-container-bottom">${Data.range}</p>
    </div>                
    </div>
<div class="weapon-card__bottom__top-row">
<div class="weapon-card__text-container">
<p class="weapon-card__text-container-top">Armour</p>
<p class="weapon-card__text-container-bottom">${Data.armour}</p>
    </div>
<div class="weapon-card__text-container">
<p class="weapon-card__text-container-top">Max Speed</p>
<p class="weapon-card__text-container-bottom">${Data.speed}</p>
    </div>                
    </div>
<div class="weapon-card__tankweapon">
<div class="weapon-card__text-container--tank">
<p class="weapon-card__text-container-top--tank">Main</p>
<p class="weapon-card__text-container-bottom--tank">Secondary</p>
    </div>  
<div class="weapon-card__text-container--tank-right">
<p class="weapon-card__text-container-top--tank-right">${Data.maingun}</p>
<p class="weapon-card__text-container-bottom--tank-right">${Data.secondarygun}</p>
    </div>                                
    </div>

    </div>


    </div>     
    </article>    
`
  ).join("")}

    </section>






    </div>                  

`;

        document.getElementById('cont').innerHTML = markup;

    });

</script>

<!--So in here you would load your json data in and pass it into the template above and then call this and that would load your page-->

<!--load json by calling the functions-->


