<body>
<h1 id="h1tag">Life During war</h1>
    
    <div id="cont">f</div>
    
</body>

<script>

 const person = {
    name: 'Test Json Name',
    job: 'This',
    city: 'Glasgow',
    bio: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam condimentum quam quis arcu bibendum'
}
 
 // And then create our markup:
const markup = `
 <div class="person">
    <h2>
        ${person.name}
    </h2>
    <p class="location">${person.city}</p>
    <p class="bio">${person.bio}</p>
 </div>
`;

document.getElementById('cont').innerHTML = markup;
 
</script>

<!--So in here you would load your json data in and pass it into the template above and then call this and that would load your page-->

<!--load json by calling the functions-->
   