<body>
    <h1>War Heroes</h1>

    <div id="cont"></div>

</body>

<script>

// load war heros json data
contentLoader.loadJson('test.json', function(err, jsonData) {
    if (err) { throw err; }    

    // json data
    var heroes = jsonData['members'];    

    const markup = `
    <ul class="heroes">
        ${heroes.map(hero => `<li>${hero.name} is ${hero.age * 7}</li>`)}
    </ul>
    `;

    document.getElementById('cont').innerHTML = markup;

});
</script>

<!--So in here you would load your json data in and pass it into the template above and then call this and that would load your page-->

<!--load json by calling the functions-->


