<body>   
    <head>
        
        <meta charset="UTF-8">
        <title>JSON Tester</title>

    </head>
    <div id="cont"></div>
    
    
</body>

<script>
// auto set browser to top of page
$('html,body').scrollTop(0);

contentLoader.loadJson('json/weaponsofwar.json', function(err, jsonData) {
    if (err) { throw err; }    
    
    var jumboData = jsonData['jumboTitle'];
    var cardData = jsonData['cards'];    
    
    console.log('Data Guns',jsonData['jumboTitle']);
    console.log(cardData[1].title);
    
const markup = `
<div class="jumbotron" style="background-image: url(${jsonData['jumboImage']});">              
            <div class="jumbotron__textcontainer">
                <div class="jumbotron__title">
                    <h1>${jsonData['jumboTitle']}</h1>
                </div>

                <div class="jumbotron__text">
                    <p>${jsonData['jumboBody']}</p>
                </div>
            </div>

        </div>

        <section class="container">

${cardData.map(data => 
               
               `<div class="card col-t-6 col-12 ">
                <div class="card__image-holder">                
                    <img src="${data.image}" class="card__image">
                </div>
                <div class="card__text-holder">
                    <div class="card__title"><h3>${data.title}</h3></div>
                    <div class="card__text"><p>${data.body}</p>
                    </div>
                    <div class="card__button-holder">
                        <input type="button" class="card__button" value="Explore" onclick="pageUpdater.getPage('${data.link}')">
                    </div>
                </div>    
            </div>  `
              
            ).join('')}

        </section>

`;

    document.getElementById('cont').innerHTML = markup;

});

</script>

