<body>   
    <head>
        <link rel="stylesheet" href="style.css" type="text/css">
        <meta charset="UTF-8">
        <title>JSON Tester</title>

    </head>
    <div id="cont"></div>

    <div class="jumbotron">
        <div class="jumbotron__title">Weapons of War</div>
        <div class="jumbotron__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas efficitur massa velit, cursus vehicula odio sodales sit amet. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Ut lacinia felis et erat vulputate congue. Etiam sed est viverra, accumsan.
        </div>
    </div>
    
    <div class="card">
        <div class="card__image"></div>
        <div class="card__title"></div>
        <div class="card__text"></div>
        <button type="button">Explore</button>
    </div>
    




</body>

<script>

// load wepons json
contentLoader.loadJson('wepons.json', function(err, jsonData) {
    if (err) { throw err; }    

    var wepons = jsonData['guns'];    

    // And then create our markup: Load json here this should be your json file
    // loop this to catch all
    // store json in a thing like person
    //https://wesbos.com/template-strings-html/   <<shows loops
    const markup = `
<ul class="guns">
${wepons.map(gun => `<li>${gun.name} is ${gun.age * 7}</li>`)}
    </ul>
`;

    document.getElementById('cont').innerHTML = markup;

});
</script>

<!--So in here you would load your json data in and pass it into the template above and then call this and that would load your page-->

<!--load json by calling the functions-->


